$textColor: #dea527;
.stamps-container{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
canvas{
  padding: 5px;
  margin: 1px;
  cursor: pointer;
  border-radius: 0;
  transition: all ease-in-out 0.5s;
}
.selected-stamp{
  background-color: $textColor;
  border-radius: 25%;
}
